.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiStep-root.MuiStep-horizontal.MuiStep-completed span,
.MuiStep-root.MuiStep-horizontal.MuiStep-completed svg {
  color: green;
}

.MuiStepConnector-root {
  display: none;
}

.MuiStep-root.MuiStep-horizontal .MuiStepLabel-root::after {
  content: ">";
  color: #80808080;
  padding-left: 10px;
}

.MuiPaper-root:last-child span::after {
  display: none;
}